@charset "UTF-8";
/* Custon CSS for Portfolio Website */

body {
	background-color:#1F2636;
	}

h1, p{
	font-family:Arial, sans-serif;
	color:#ffffff;
}

header {
	padding-top:25px;
	padding-left:15px;
}

.projectbuttons  {
	font-family:Arial, sans-serif;
	font-size:36px;
	position:relative;
	margin-top:50px;
	margin-bottom:50px;
}

h1 {
	font-size:30px;
}

p {
	font-size:16px;
}

section {
	margin-top:200px;
}

footer p {
	color:#1F2636;
	position:relative;
	top:50%;
	transform:translate(0,-50%);
}

footer a {
	color:#1F2636;
}

footer a:hover {
	color:white;
}

footer {
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	height:20px;
	text-align:center;
	background:;
	clear:both;
	height:50px;
	background:#7b838c;
	margin-top:200px;
}

.projectbuttons a {
	background:#7b838c;
	color:#1F2636;
	padding:0 8px;
	line-height: inherit;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 20px;
}

.projectbuttons a:hover {
	color:white;
}

a.nike:hover {
	background:#F26721;
}

a.phoenix:hover {
	background:#BD202E;
}

a.red-bull:hover {
	background:#D3232A;
}

a.kings-wild-project:hover {
	background:#A19886;
}

a.dustin-bowder:hover {
	background:#00253B;
}

a.gate-25:hover {
	background:#C93031;
}

a.bebs-jam:hover {
	background:#F26721;
}

a.grandma-lucille:hover {
	background:#F26721;
}

a.new-era:hover {
	background:#BD984C;
}