@charset "UTF-8";
/* Custom styling for the project pages */

nav {
	text-align:center;
	margin-top:25px;
	width:100%
}

body {
	background-color:#aeb5bf;
}

h1, h2, p {
	font-family:Arial, sans-serif;
	color:#1F2636;
}

h1 {
	font-size:36px;
	line-height:1em;
	margin-top:25px;
}

h2 {
	font-size:20px;
	font-style:italic;
	line-height:.5em;
}

p {
	font-size:16px;
	padding-top:25px;
	text-align:left;
	max-width:500px;
	margin:0 auto;
}

header {
	text-align:center;
	padding-top:110px;
	align-content:center;
	width:100%
}

img {
	margin-right:auto;
	margin-left:auto;
	padding-top:50px;
}

a#logo {
	background-image:url(../img/home-active.png);
	margin-left:auto;
	margin-right:auto;
	width:108px;
	height:88px;
	display:block;
	background-repeat:no-repeat;
	margin-bottom:25px;
}

a#logo:hover {
	background-image:url(../img/home-hover.png);
	margin-left:auto;
	margin-right:auto;
	width:108px;
	height:88px;
	display:block;
	background-repeat:no-repeat;
	margin-bottom:25px;
}

a#previous {
	background-image:url(../img/previous-active.png);
	margin-left:auto;
	margin-right:auto;
	width:50px;
	height:50px;
	display:block;
	background-repeat:no-repeat;
	margin-bottom:25px;
	background-size:75%;
}

a#previous:hover {
	background-image:url(../img/previous-hover.png);
	margin-left:auto;
	margin-right:auto;
	width:50px;
	height:50px;
	display:block;
	background-repeat:no-repeat;
	margin-bottom:25px;
	background-size:75%;
}

a#next {
	background-image:url(../img/next-active.png);
	margin-left:auto;
	margin-right:auto;
	width:50px;
	height:50px;
	display:block;
	background-repeat:no-repeat;
	margin-bottom:25px;
	background-size:75%;
}

a#next:hover {
	background-image:url(../img/next-hover.png);
	margin-left:auto;
	margin-right:auto;
	width:50px;
	height:50px;
	display:block;
	background-repeat:no-repeat;
	margin-bottom:25px;
	background-size:75%;
}

@media only screen and (max-width: 40em) { 
	header {
		clear:both;
		padding-top:0;
	}

}
